* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
}

.container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_block ul {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 52px;

  list-style: none;
}
.nav_block ul a {
  color: var(--1, #1f2428);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 106.667% */

  text-decoration: none;

  transition: all 0.5s;
  cursor: pointer;
}

.nav_block ul a:hover {
  color: #01cd7d;
}

.registratoin {
  display: flex;
  align-items: center;

  gap: 42px;
}
.registratoin .user {
  display: flex;
  align-items: center;
  gap: 11px;
}

.registratoin .user p {
  color: var(--1, #1f2428);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 106.667% */

  transition: all 0.5s;
  cursor: pointer;
}

.registratoin .user p:hover {
  color: #01cd7d;
}

.nav_button button {
  color: var(--1, #fff);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 138.462% */

  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border: none;

  border-radius: 36px;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.2);
  transition: all 0.5s;
}

.nav_button button:hover {
  background: white;
  color: #00c97b;
}

.main {
  border-radius: 36px;
  background: linear-gradient(80deg, #5b52a3 1.08%, #40b8ea 100%);

  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main__container {
  /* max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__container .main__text {
  margin-left: 120px;
}

.main__container .main__text h3 {
  color: var(--4, #fff);
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 111.111% */
  width: 715px;
  margin-top: 96px;
}

.main__container .main__text p {
  color: var(--4, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 42px; /* 210% */
  width: 707px;
  opacity: 0.5;
}

.main__container .main__text button {
  color: var(--1, #fff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 105.882% */

  width: 260px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 36px;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.2);
  border: none;

  margin-top: 36px;
  margin-bottom: 108px;
  transition: all 0.5s;
}
.main__container .main__text button:hover {
  background: white;
  color: #00c97b;
}

.main__img {
  width: 572px;
  height: 571px;
  margin-right: 260px;
}

.pukupat__text h3 {
  color: var(--1, #1f2428);
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 113.636% */

  width: 477px;
  margin-top: 160px;
  margin-bottom: 40px;
}

.pukupat__blok {
  width: 1400px;
  height: 100px;
  flex-shrink: 0;

  border-radius: 16px;
  background: var(--5, #fff);
  box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;
}

.Vector {
  margin-left: 27px;
  margin-right: 27px;
}

.pukupat__blok .material {
  width: 179px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  cursor: pointer;
  transition: all 0.5s;
}

.pukupat__blok .material:hover {
  background: var(--6, #f2f6fc);

}
