* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
}

.container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_block ul {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 52px;

  list-style: none;
}
.nav_block ul a {
  color: #1f2428;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 106.667% */

  text-decoration: none;

  transition: all 0.5s;
  cursor: pointer;
}

.nav_block ul a:hover {
  color: #01cd7d;
}

.registratoin {
  display: flex;
  align-items: center;

  gap: 42px;
}
.registratoin .user {
  display: flex;
  align-items: center;
  gap: 11px;
}

.registratoin .user p {
  color: #1f2428;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 106.667% */

  transition: all 0.5s;
  cursor: pointer;
}

.registratoin .user p:hover {
  color: #01cd7d;
}

.nav_button button {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 138.462% */

  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border: none;

  border-radius: 36px;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.2);
  transition: all 0.5s;
}

.nav_button button:hover {
  background: white;
  color: #00c97b;
}

.main {
  border-radius: 36px;
  background: linear-gradient(80deg, #5b52a3 1.08%, #40b8ea 100%);

  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main__container {
  /* max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__container .main__text {
  margin-left: 120px;
}

.main__container .main__text h3 {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 111.111% */
  width: 715px;
  margin-top: 96px;
}

.main__container .main__text p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 42px; /* 210% */
  width: 707px;
  opacity: 0.5;
}

.main__container .main__text button {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 105.882% */

  width: 260px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 36px;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.2);
  border: none;

  margin-top: 36px;
  margin-bottom: 108px;
  transition: all 0.5s;
}
.main__container .main__text button:hover {
  background: white;
  color: #00c97b;
}

.main__img {
  width: 572px;
  height: 571px;
  margin-right: 260px;
}

.pukupat__text h3 {
  color: #1f2428;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 113.636% */

  width: 477px;
  margin-top: 160px;
  margin-bottom: 40px;
}

.pukupat__blok {
  width: 1400px;
  height: 100px;
  flex-shrink: 0;

  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;
}

.Vector {
  margin-left: 27px;
  margin-right: 27px;
}

.pukupat__blok .material {
  width: 179px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  cursor: pointer;
  transition: all 0.5s;
}

.pukupat__blok .material:hover {
  background: #f2f6fc;
}

/* sale */
.sale__container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.left__sale h3 {
  color: #1f2428;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */

  width: 400px;

  margin-bottom: 44px;
}
.sale__sity {
  width: 400px;
  height: 120px;
  flex-shrink: 0;

  border-radius: 16px;
  background: #f2f6fc;

  display: flex;
  align-items: center;
  padding: 34px;
  gap: 28px;
}

.sale__sity img {
  width: 75px;
  height: 54px;
  flex-shrink: 0;

  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.sale__sity p {
  color: #1f2428;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.sale__sity h5 {
  color: #1f2428;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
}
.left__img {
  align-items: center;
  display: flex;
  gap: 40px;
  margin-top: 163px;
}

.center__sale img {
  width: 499px;
  height: 475px;
}

.center__sale p {
  color: #1f2428;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 133.333% */
  margin-top: 33px;
  margin-bottom: 7px;
}

.center__sale h5 {
  color: #1f2428;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
}

.center__sale h5 span {
  color: #01cd7d;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.right__sale h3 {
  color: #1f2428;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */

  width: 338px;
  margin-bottom: 44px;
}

.right__sale h3 span {
  color: #01cd7d;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.left__pants {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* features */
.features__container {
  width: 1400px;
  height: 180px;
  flex-shrink: 0;

  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.1);
  margin-top: 162px;
  margin-bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.econom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  border-right: 1px solid #c0c9d7;
  height: 135.5px;
}
.econom p {
  color: #1f2428;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  width: 88px;
  margin-right: 70px;
}

.produk p {
  width: 162px;
}
.dostavka p {
  width: 120px;
}
.tovar p {
  width: 138px;
}
.tovar {
  border: none;
}

/* sell */
.sell__container {
  max-width: 1525px;
  width: 100%;
  height: 480px;
  flex-shrink: 0;

  border-radius: 36px;
  background: linear-gradient(80deg, #5b52a3 1.08%, #40b8ea 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 160px;
}

.sell__img {
  width: 401.999px;
  height: 404.999px;
  flex-shrink: 0;
  margin-top: 38px;
  margin-bottom: 38px;
}

.sell__text h4 {
  color: var(--4, #fff);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  width: 763px;
  line-height: 40px; /* 133.333% */
}

.sell__text p {
  color: var(--4, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */

  width: 834px;
  margin-top: 11px;
}
.sell__text button {
  color: var(--1, #fff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 105.882% */

  width: 240px;
  height: 66px;
  flex-shrink: 0;

  border-radius: 36px;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.2);
  border: none;
  margin-top: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.sell__text button:hover {
  background: #43e1a5;
  color: black;
}
/* delivery */
.text__delivery h3 {
  color: var(--1, #1f2428);
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 127.273% */

  width: 824px;
  margin-bottom: 20px;
}
.text__delivery p {
  color: var(--1, #1f2428);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 180% */

  width: 760px;
}

.delivery__info {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 1400px;
  height: 270px;
  flex-shrink: 0;

  border-radius: 16px;
  background: var(--5, #fff);
  box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.1);
}

.ctrana h5 {
  color: var(--2, #222);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}

.search {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
  padding-bottom: 18px;
  border-bottom: 1px solid #222;

  width: 247px;
  height: 1px;
  flex-shrink: 0;
}
.search img {
  margin-bottom: 18px;
}

.search p {
  color: var(--2, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 100% */
  margin-bottom: 18px;
}

.delivery__info button {
  color: var(--1, #fff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 105.882% */

  width: 240px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 36px;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.2);
}
